.text-field {
	-fx-background-radius: 0.0;
	-fx-font-size: 16;
}
.titled-pane .title{
	-fx-background-radius: 0.0;
	-fx-background-color: #4DAAFF;
}
.tab-pane .tab-header-background {
	-fx-background-color: #7A7A7A;
}
.button {
	-fx-background-color: #7A7A7A;
	-fx-background-radius: 0.0;
}
.button:hover {
	-fx-background-color: #4DAAFF;
}
.tab {
	-fx-background-color: #4DAAFF;
	-fx-background-radius: 0.0;
}
.tab:selected {
	-fx-background-color: #FFFFFF;
}
.tab .tab-label:hover {
	-fx-text-fill: #00F0FF;
}
.table-view .column-header-background, .column-header {
	-fx-background-color: #4DAAFF;
	-fx-background-radius: 0.0;
	-fx-border-color: null;
}
.table-view .column-header-background .label {
	-fx-font-weight: bold;
	-fx-text-fill: #7A7A7A;
	-fx-effect: innershadow(gaussian, black, 8.2, 0.0, 1, 1);
}
.scroll-bar .increment-button {
	-fx-background-color: #FFFFFF;
}
.scroll-bar .increment-button .increment-arrow{
	-fx-background-color: #4DAAFF;
}
.scroll-bar .decrement-button {
	-fx-background-color: #FFFFFF;
} 
.scroll-bar .decrement-button .decrement-arrow {
	-fx-background-color: #4DAAFF;
} 
.scroll-bar .track {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 0.0;
}
.scroll-bar .thumb{
	-fx-background-color: #4DAAFF;
	-fx-background-radius: 0.0;
}